.nearby-location-tag {
  border: 1px solid gainsboro;
  min-height: 100px;
  padding: 10px;

  .tag {
    padding: 5px;
    font-size: 0.8rem;
    margin-bottom: 10px;
  }

  .tag-input {
    padding: 5px;
    min-width: 200px !important;
  }

  .site-tag-plus {
    &:hover {
      cursor: pointer;
    }
  }
}