.notification {
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
  cursor: pointer;
}

.notification .badge {
  position: absolute;
  top: 35%;
  right: 30%;
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background-color: #eb1f3a;
}

.notification .notification-container {
  position: absolute;
  width: 400px;
  padding: 20px 10px;
  border-radius: 5px;
  border: 1px solid gray;
  z-index: 1000;
  right: 25%;
  top: 65%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
}

.notification-item {
  display: block;
  min-height: 50px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  line-height: 1.5;

  &:hover {
    background-color: #ecebeb;
    color: black;
  }
}