.profile-page {
  width: 40%;
  margin: auto;

  .profile-information {
    .ant-card-body {
      display: flex;
      flex-direction: column;
    }
    .avatar {
      margin: auto;
      width: 120px;
      height: 120px;
    }

    .fullname {
      margin: auto;
      padding-top: 16px;
    }

    .email {
      margin: auto;
    }
  }

  .form-profile {
    justify-content: space-around;
    // display: flex;
    .ant-form-item-label > label {
      font-size: 18px !important;
    }

    .fill-name {
      justify-content: space-between;
      display: flex;
    }
  }
}
