$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("../../../assets/images/background.svg");

  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 2px;
    padding: 50px 30px 20px;
    border-radius: 20px;
    background: white;

    img {
      margin-bottom: 10px;
    }

    h3 {
      color: #8f9598;
      margin-bottom: 30px;
    }

    &__form {
      width: 500px;
      font-size: 1.2rem;

      @include mobile {
        width: 300px !important;
      }

      button {
        width: 100%;
      }

      a.login-form-forgot {
        float: right;
      }
    }
  }
}

.ant-input:hover, .ant-input:focus-within, .ant-input:focus, .ant-select-selection:hover, .ant-select-selection:focus-within, .ant-select-selection:focus, .ant-select-selector:hover, .ant-select-selector:focus-within, .ant-select-selector:focus, .ant-input-number:hover, .ant-input-number:focus-within, .ant-input-number:focus, .ant-input-affix-wrapper:hover, .ant-input-affix-wrapper:focus-within, .ant-input-affix-wrapper:focus {
  border-color: #047fff !important;
  box-shadow: none !important;
}